body{
    margin:0px;
}
html{
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 40px;
    position: fixed;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

header img{
    height:200px;
    width: 450px;
}
nav {
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    background-color: rgb(238, 202, 0);
    color: rgb(114, 70, 11);
    font-size: 20px;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 20px 20px 10px 10px;
    box-shadow:
    0px 6px 0px rgb(185, 121, 47),
}
nav a:hover {
    color: rgb(239, 221, 170);
    background-color: rgb(187, 106, 20);
    box-shadow:
        0px 6px 0px rgb(237, 168, 8),
        0px 10px 0px rgb(199, 159, 0);
    transition: 0.5s;
}
section.Home {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("kvass.png");

}
section.Project {
    height: 800px;
    text-align: center;
    color:rgb(199, 159, 0)
}
section.Howto {

    height: 800px;
    text-align: center;
}
section.Profile {
    height: 800px;
    text-align: center;
}
.kotakBiotek {
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.namaBiotek {
    font-size: 50px;
}
.deskBiotek {
    color: white;
    font-size: 20px;
}
section.project img {
    height: 300px;
}
.deskProject {
    width: 60%;
    margin: auto;
    padding: 50px 20px;
}
.howto {
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.howto img {
    height: 500px;
}
.deskHowto {
    display: flex;
    width: 60%;
    margin: auto;
}
.dokumentasi {
    margin: 20px;
}
.cardProfile {
    background-color: rgb(213, 209, 209);
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}
.imgProfile img {
    width: 100%;
}

.medsos {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
