body{
    margin:0;
    font-family:'Afacad Flux', sans-serif;
}

html{
    scroll-behavior:smooth;
}

/* NAVBAR */
nav{
    position:fixed;
    width:100%;
    background:#eeca00;
    text-align:center;
    padding:15px;
    z-index:1000;
}

nav a{
    text-decoration:underline;
    color:#72460b;
    margin:10px;
    font-size:18px;
}

/* SECTION AUTO KE BAWAH */
section{
    padding:100px 50px;
}

/* HOME FULL */
section.Home{
    min-height:100vh;
    background:url("kvass.png");
    background-size:cover;
    background-position:center;
    color:white;
}

/* TEXT */
.kotakBiotek{
    width:50%;
}

.namaBiotek{
    font-size:50px;
}

.deskBiotek{
    font-size:20px;
    line-height:1.6;
}

/* ABOUT */
.deskProject{
    display:flex;
    gap:30px;
    align-items:center;
}

.deskProject img{
    width:250px;
}

/* HOWTO */
.deskHowto{
    display:flex;
    gap:40px;
}

.penjelasan{
    width:50%;
}

.dokumentasi img{
    width:300px;
}

/* PROFILE */
.cardProfile{
    width:300px;
    margin:auto;
    background:#ddd;
    padding:20px;
}

.imgProfile img{
    width:100%;
}

.medsos a{
    margin:5px;
    font-size:20px;
}
